* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1170px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.accordion {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #222222;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.accordion::after {
    content: '\002B';
    color: #777;
    font-weight: 600;
    float: right;
}

.active::after {
    content: '\2212';
}

.active,
.accordion:hover {
    background-color: #cccccc;
}

.panel {
    padding: 0 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

.panel p {
    padding: 10px 0;
}
