* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1170px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.accordion {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #222222;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.active,
.accordion:hover {
    background-color: #cccccc;
}

.panel {
    padding: 10px 5px;
    display: none;
}
