* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon__bar {
  width: 90px;
  background-color: #555555;
}

/* For Horizontal */
.icon__bar.horizontal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.icon__bar a {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  padding: 16px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.icon__bar a:hover {
  background-color: #000000;
}

.icon__bar a.active {
  background-color: #04aa6d;
}
